{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}

  <div id="article-container">
    <ul class="nav nav-pills" id="article-menu">
      <li class="pull-left" id="article-title-li">
        <h1 id="article-title">
          {{ article.current_revision.title }}
          <small style="font-size: 14px;">
            {% if urlpath.parent %}
            <a href="{% url 'wiki:get' path=urlpath.path %}"><span class="fa fa-bookmark"></span> {{ urlpath.slug }}</a>
            {% endif %}
            {% if article.current_revision.locked %}
              <span class="fa fa-lock"></span> {% trans "locked" %}
            {% endif %}
          </small>
        </h1>
      </li>
      {% include "wiki/includes/article_menu.html" %}

    </ul>
    <div>
      {% block wiki_contents_tab %}

      {% endblock %}

<!-- <h2> 子文档：  -->
        <!-- <a href="{% url 'wiki:create' path=urlpath.path %}" style="padding: 7px;"> -->
          <!-- <span class="fa fa-arrow-down"></span> 新建子文档 -->
        <!-- </a> -->
<!-- </h2> -->
<!-- <table class="table table-striped"> -->
  <!-- <tr> -->
    <!-- <th>{% trans "Title" %}</th> -->
    <!-- <th>{% trans "Last modified" %}</th> -->
  <!-- </tr> -->
      <!-- {% for child in children_slice %} -->
    <!-- <tr> -->
        <!-- <td> -->
          <!-- <a href="{% url 'wiki:get' path=child.path %}"> -->
            <!-- {{ child.article.current_revision.title }} › -->
          <!-- </a> -->
        <!-- </td> -->
        <!-- <td> -->
            <!-- {{ child.article.current_revision.created}} -->
        <!-- </td> -->

    <!-- </tr> -->
      <!-- {% endfor %} -->
</table>

    </div>
  </div>


{% endblock %}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
